<h1>RSS analize</h1>




 
<% @source.rss.each do |a| %>
   <% url=a.ref %>
   <% feed = Feedjira::Feed.fetch_and_parse url %>
   <center><b><%=  a.name %></br>
   <%=  a.ref %></center></b></br>
   <%=  feed.entries.first.to_a %></br>
<% end %> 



<%= link_to 'Back', pages_path %>
